# List

In [1]:
# list : list is a built-in data type that store sequance of values.
# can store elements of differents type (it float string etc...)



list = [99,76.9,0,True]
print(type(list))

<class 'list'>

In [2]:
# indexing in list
# indexing always start from 0

list = [99,88,77,66,55,44,33,22,11]

print(list[5]) # we have to fetch 44
print(list[8])

# lenght of list

print(len(list)) # len alwasys start from 1

44
11
9

In [3]:
# slicing : to get the sublist
# slicing ending index doesnot include

list = [99,88,77,66,55,44,33,22,11]

# we have to fetch 66:22

print(list[3:8])

# 66 :

print(list[:3])

# 99 to 66

print(list[:4])

# 99 to 11

print(list[:])

print(list[::2])

# reveresing the list

print(list[::-1])

[66, 55, 44, 33, 22]
[99, 88, 77]
[99, 88, 77, 66]
[99, 88, 77, 66, 55, 44, 33, 22, 11]
[99, 77, 55, 33, 11]
[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [4]:
# neagative slicing and indexing
# neagative indexing always start from -1

list = [99,88,77,66,55,44,33,22,11]

print(list[-6])

# 66 to 22 from neagative indexing

print(list[-6:-2])

# 66 to 11

print(list[-6:])

# 99 to 66

print(list[-9:-5])

# reveres

print(list[::-1])

66
[66, 55, 44, 33]
[66, 55, 44, 33, 22, 11]
[99, 88, 77, 66]
[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [5]:
# list is mutabale
# in list we can access the elemens & we can also change the elements

Student = ["karan",95.4,18,"delhi"]

Student[0]
Student[1] = 98  # we are accessing the elements & assigning new value

Student

['karan', 98, 18, 'delhi']

In [6]:
# methods of list : list specific methods

list = [50,44,67,33,22]

list.append(300)   # adding at the end

list.sort() # it will sort list in ascending

list.sort(reverse = True)  # it will sort list in descending

list.reverse()  # it will reverse the list

list.insert(2,500)   # insert the new value at given place

list.remove(500)  # it remove the given value at the first occurance

list.pop()  # it removed last element of list

list

[22, 33, 44, 50, 67]

# Tuple

In [7]:
# Tuple :  a tuple is an orderd because each elementa have fix indexing immutable collection of elements written in ()

Tuple = (2,5,4,7,8,)

# we can not assing new values in tuple

# we can only access the element

Tuple[0]
Tuple[1]
Tuple[2]

4

In [8]:
# Empty tuple : 

tup =()  # this is an empty tuple

print(type(tup))

# single value tuple

tup = (99,)
print(type(tup))

<class 'tuple'>
<class 'tuple'>

In [9]:
# tuples methods

Tup = ("adi",99,48.5,True)

print(Tup.index(True))  # it only fetch first occurance index

print(Tup.count(True)) # it will count all the occurance of value

Tup

3
1

('adi', 99, 48.5, True)

In [10]:
# palindrome: this are those things which are same if we read from start or end.

# ex : (2,1,2) (ma'ma) 

a = [2,1,2]
b = a.copy()
b.reverse()
if a == b:
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [11]:
word = 'MADAM'

if word == word[::-1]:
    print("palindrome")
else:
    print("Not palindrome")

palindrome

In [12]:
# practice question:
# 1. write a program to ask the user to enter names of thier 3 favouirte movies and store them in a list.

a = input('enter the first movie name')
b = input('enter the second movie name')
c = input('enter the third movie name')

list = [a,b,c]

list

enter the first movie name mahabharat
enter the second movie name ramayn
enter the third movie name shree krishna

['mahabharat', 'ramayn', 'shree krishna']

In [13]:
# practice question :
# write a program to count the number a students  with the A grade
# in the following tuple....

tupl = ("A","D","A","C","B","A")

print(tupl.count("A"))

3

In [1]:
# store the above values in a list & sort them from A to D 

tup = ("A","D","A","C","B","A")
Lst = list(tup)

Lst.sort()
Lst

['A', 'A', 'A', 'B', 'C', 'D']