# Dictionary

In [1]:
# Dictianary : it store data in key value pairs where each key is unique value and used to access is corresponding value.
# they are unoreder mutable 
# we can add diffrent data type in dict

dict = {
    "name":"raji",
    "marks":98,
    "sub":["hindi","english","math"]
}

print(dict)

{'name': 'raji', 'marks': 98, 'sub': ['hindi', 'english', 'math']}

In [3]:
# dictionary has no indexing thats why it is unoreder

print(dict["name"])  # accessing value from key
print(dict["marks"])

raji
98

In [4]:
# mutable : dictionary 

dict["name"] = "shwari"
dict

{'name': 'shwari', 'marks': 98, 'sub': ['hindi', 'english', 'math']}

In [6]:
# empty dictionary

data = {}  # empty dictionary

data["name"] = "raji"
data["age"] = 24
data["job"] = "DA"

data

{'name': 'raji', 'age': 24, 'job': 'DA'}

In [8]:
# nested dictionary

student = {
    "name":"Diya",
    "subject":{
        "phy":98,
        "chem":97,
        "math":98
    }
}

student

{'name': 'Diya', 'subject': {'phy': 98, 'chem': 97, 'math': 98}}

In [9]:
print(student["subject"]["math"])

98

In [16]:
# methods of dictionary
# to fetch all the key

print(student.keys())

# to fetch all the values

print(student.values())

# to fetch the key value pairs

print(student.items())

# .get method

print(student.get('name'))  # another way of getting value

# update method

print(student.update({"name":"Riya","city":"patna"}))
student

dict_keys(['name', 'subject'])
dict_values(['Riya', {'phy': 98, 'chem': 97, 'math': 98}])
dict_items([('name', 'Riya'), ('subject', {'phy': 98, 'chem': 97, 'math': 98})])
Riya
None

{'name': 'Riya',
 'subject': {'phy': 98, 'chem': 97, 'math': 98},
 'city': 'patna'}

# Set

In [17]:
# set is the collection of unoreder item.
# each elements in set must be unique
# set is mutable but elements in set are not mutable

# we can store any immutable values in set (int,float,str,tuple,boolean)
# we cannot store list and dict in set.

set = {1,2,3,4,5}

print(set)
print(type(set))

{1, 2, 3, 4, 5}
<class 'set'>

In [18]:
# set are unique & remove the duplicate values

set = {1,2,3,1,6,5,4,3,7,6}

print(set)

{1, 2, 3, 4, 5, 6, 7}

In [1]:
# empty set

D = set()

print(type(D))

<class 'set'>

In [2]:
# lenght of set 

set = {1,2,3,4,1,2,3,4}

print(len(set))

4

In [9]:
# methods of set

set.add(200)
set.add("raji")

set.remove("raji") # it remove only given value


set.clear()  # it remove all the elements from the set
set

set()

In [14]:
set = {1,2,3,4,5} # it remove values from the start

set.pop()
set
set.pop()
set

{3, 4, 5}

In [16]:
set_1 = {1,2,3,4,5}
set_2= {1,2,5,6,7}

set_1.union(set_2)  # unique value

set_1.intersection(set_2)  # common value

{1, 2, 5}